@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi site</h1>
    <p>Aprende acerca de <a href="https://platzi.com/ruta/asp-net/">Github e integracion continua</a>.</p>
</div>